ANTHROPIC_API_KEY=
GITHUB_TOKEN=
GOOGLE_API_KEY=
MCP_PORT=
MCP_TRANSPORT=
MINIMAX_API_KEY=
MINIMAX_API_PROTOCOL=
MINIMAX_API_REGION=
MINIMAX_VISION_MODEL=
OPENAI_API_KEY=
PINECONE_API_KEY=
CORS_ORIGINS=